{% load static %}
{% load markdownify %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags - Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>

  <body>
    <body>
      <header>
        <nav>
          <ul>
            <li>
              <a href="{% url 'home' %}">Scrumptious</a>
            </li>
            <li>
              <a href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li>
              <a href="{% url 'recipe_new' %}">Write a recipe</a>
            </li>
            <li>
              <a href="{% url 'tags_list' %}">Tags</a>
            </li>
            <form id="form" class="search_bar"> 
              <input type="search" id="query" name="q" placeholder="Search...">
              <button>Search</button>
            </form>
          </ul>
        </nav>
      </header>

      <main class="tags_main_list">  
        <h2><u>TAGS</u></h2>
          <p>
            {% for tag in tags_list %}
              {% if forloop.last %}
                <a href= "{% url 'tag_detail' tag.pk %}">{{ tag.name }}</a>
              {% else %}
                <a href= "{% url 'tag_detail' tag.pk %}">{{ tag.name }},</a>
              {% endif %}
            {% endfor %}
          </p>
      </main>

  </body>

</html>
