@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
  background-image: url("https://media.istockphoto.com/photos/beauty-pastel-sky-soft-color-cloud-sweet-background-picture-id1186651737?b=1&k=20&m=1186651737&s=170667a&w=0&h=ZlxK3bQpCpvmujjEyydkXgayIx88atTLG-mTHSgWpuc=");
  background-size: cover;

}

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
  font-family: 'Caveat', cursive;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  justify-items: center;
  color: aqua;
  background-color: solid red;
  font-family: 'Play', sans-serif;
}

search_b.tar {
  border-color: rgb(238, 102, 125);
}

a,
a:visited {
  text-decoration: none;
}

button.button {
  display: inline;
  background-color: rgb(238, 102, 125);
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

button.button:hover {
  background-color: white;
  border-color: rgb(238, 102, 125);
  color: rgb(238, 102, 125);
}

button.button:active {
  background-color: lightblue;
}

input, textarea {
  /* border: 1px solid rgb(238, 102, 125); */
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
  border: 1px solid rgb(238, 102, 125);

}

.tags_main_list {
  text-align: center;
  font-size: 25px;
  color: rgb(238, 102, 125);
}

td, th {
  color: rgb(238, 102, 125);
  background-color: white;
  font-size: 25px;
  font-weight: bolder;
  border: 4px solid rgb(238, 102, 125);
  padding: .25em .5em;
  text-align: center;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-card {
  outline: 5px dotted rgb(238, 102, 125);
  background-color: rgba(255, 255,255,.4);
}

.recipe-image-main-page {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 0px;
  place-items: center;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
  display: block;
  background-size: cover;
  text-align: center;
  /* Want to be able to move my image down a bit */
}

.recipe-card-title {
  text-align: center;
  margin-bottom: 0;
}

.recipe-card-date {
  text-align: center;
  color: silver;
  
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
  border: 2px rgb(238, 102, 125);
  border-radius: 4px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}


.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: center;
}
